@model IEnumerable<Web.Models.Computer>

@{
    ViewBag.Title = "Все компьютеры";
}
    
            <div class="card-group products">
                @foreach (var item in Model)
                {

                    <div class="card-group product-wrapper">
                        <div class="card " style="width: 18rem;">
                            @if (item.Image != null)
                            {
                                <div class="product-img">
                                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Image))" />
                                </div>
                            }
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">Модель: @item.Model</p>
                            <p class="card-text">Процессор: @item.CPU</p>
                            <p class="card-text">Материнская плата: @item.MotherBoard</p>
                            <p class="card-text">Видеокарта: @item.GraphicsCard</p>
                            <p class="card-text">Жёсткий диск: @item.HardDisk</p>
                            <p class="card-text">Цена: @item.Price</p>
                            <form asp-controller="ShopCart" asp-action="addtoCart" asp-route-ComputerId="@item.ComputerId" method="post">
                                <button type="submit" class="btn btn-sm btn-danger">
                                    Добавить в корзину
                                </button>
                            </form>
                        </div>
                        </div>

                    </div>
                }
            </div>
